body {
  background-image: url("../Photos/turf-bg.jpg");
  background-size: cover;
  text-align: center;
}

html {
  --beige: #f9efdb;
  --khaki: #ebd9b4;
  --fern: #9dbc98;
  --seafoam: #638889;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
  font-size: 5rem;
}

h2 {
  color: green;
  font-size: 2rem;
}

h3 {
  color: snow;
}

p {
  color: grey;
}

img {
  max-width: 14rem;
  place-self: center;
  border-radius: 5rem;
}

#all-players-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  grid-auto-columns: min-content;
  column-gap: 5vw;
}
div.player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(246, 155, 75);
  border-radius: 40px;
  width: 20rem;
  margin: 1rem;
  padding: 0.75rem;
  align-content: center;
}

#new-player-form {
  display: grid;
}
.form {
  box-sizing: border-box;
  align-content: center;
  text-align: center;
  place-self: center;
  flex-direction: column;
  margin: 1rem;
  background-color: var(--khaki);
  border: 2px, blue;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form > h2 {
  font-size: 2.5rem;
}

input {
  margin: 0.25rem;
  border-radius: 10px;
  border: none;
  background-color: var(--beige);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

label {
  color: var(--seafoam);
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.5rem;
  font-weight: 600;
}

button {
  border: none;
  border-radius: 2.5rem;
  padding: 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  font-weight: 600;
  color: var(--seafoam);
  background-color: var(--beige);
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
